body {
    margin: 0;
}

h1, p, a {
    font-family: 'Roboto';
}

.dark {
    background-color: #1F2937;
    padding: 10px 100px 150px 100px;
}

.dark h1, p, a {
    color: white;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-left: auto;
}

header .logo {
    font-size: 21px;
    margin: 0;
}

nav .header-link {
    text-decoration: none;
}

.section1 {
    display: flex;
}

.box1 {
    flex: 1 1 auto;
}

.section1 h1, p {
    margin: 0;
    padding: 0;
}

.section1 p {
    font-weight: 300;
}

.section1 button {
    background-color: rgb(53, 157, 255);
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight:bold;
    padding: 8px;
    width: 100px;
    margin-top: 8px;
}

.section1 .box1 h1 {
    font-size: 48px;
}

.image-box {
    background-color: rgb(161, 161, 161);
    flex: 0 0 400px;
    height: 200px;
    margin-left: 10px;
    text-align: center;
    align-content: center;
}

.image-box p {
    color: white;
}