body {
    margin: 0;
}

h1, p, a {
    font-family: 'Roboto';
}

.dark {
    background-color: #1F2937;
    padding: 10px 100px 150px 100px;
}

.dark h1, 
.dark p, 
.dark a {
    color: white;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-left: auto;
}

header .logo {
    font-size: 21px;
    margin: 0;
}

nav .header-link {
    text-decoration: none;
}

.section1 {
    display: flex;
}

.box1 {
    flex: 1 1 auto;
}

.section1 h1, p {
    margin: 0;
    padding: 0;
}

.section1 p {
    font-weight: 300;
}

.section1 button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight:bold;
    padding: 8px;
    width: 100px;
    margin-top: 8px;
}

.section1 .box1 h1 {
    font-size: 48px;
}

.image-box {
    background-color: rgb(161, 161, 161);
    flex: 0 0 400px;
    height: 200px;
    margin-left: 10px;
    text-align: center;
    align-content: center;
}

/* second section */

.light {
    padding: 0 100px 100px 100px;
}

.light h1, 
.light p, 
.light a {
    color: black;
}

.light h1 {
    text-align: center;
    margin: 50px;
    font-size: 25px;
    font-weight: 800;
}

.icon-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.illustration {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.icon {
    flex: 0 0 100px;
}

.icon p {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin-top: 5px;
}

/* third section */

.grey {
    padding: 50px 200px 50px 200px;
    background-color: #e5e7eb;
}

.grey p {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;

}

.grey h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: right;
}

/* fourth sectin */

.light2 {
    padding: 50px 100px 50px 100px;
}
.light2 h1,
.light2 p,
.light2 button {
    color: white;
    margin: 0;
}

.light2 button {
    background-color: inherit;
    border: 1px solid white;
    border-radius: 5px;
}

.call-to-action {
    background-color: #3882f6;
}